.dropdown-menu-wrapper {
    width: fit-content;
}
.dropdown-menu button.ant-btn {
    background: transparent;
    border: 1px solid var(--color-primary-dark-3);
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.dropdown-menu button.ant-btn:hover {
    color: currentColor;
}
.dropdown-menu button.ant-dropdown-trigger {
    color: var(--color-primary-light-1);
    border-radius: 0 0.5rem 0.5rem 0 !important;
}
