.login-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.login-page .placeholder {
  flex-grow: 1;
}
.login-page .form-wrapper {
  width: 30%;
}
/* -------------- logo -------------- */
.login-page .logo {
  position: absolute;
  inset: 5% 5% auto auto;
}
/* ---------- form wrapper ---------- */
.form-wrapper .form-title {
  text-align: center;
  font-size: 4.8rem;
}
.form-wrapper .bottom-field {
  width: fit-content;
  margin-left: auto;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
}
.form-wrapper label::before {
  content: "" !important;
}
.form-wrapper label,
.form-wrapper input {
  font-size: 1.8rem;
}
/* ---------------------------------- */
/*             LOGIN FORM             */
/* ---------------------------------- */

/* ---------------------------------- */
/*        FORGOT PASSWORD FORM        */
/* ---------------------------------- */
.forgot-password-form .confirm-code-field[data-length="true"] .ant-input {
  border-color: var(--color-gray-dark);
}
