/* ---------------------------------- */
/*          SEMESTER DROPDOWN         */
/* ---------------------------------- */
.overview-section .semester-dropdown-wrapper {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    justify-content: center;
}
/* ---------------------------------- */
/*                CARDS               */
/* ---------------------------------- */
.overview-section .overview-row,
.overview-cards {
    display: flex;
    gap: 5rem;
    align-items: center;
}
.overview-cards {
    flex-grow: 1;
}
.overview-cards .overview-card-item {
    flex-grow: 1;
}
