* {
    margin: 0px;
    padding: 0px;
}
.App {
    background-size: cover;
    background-position: center center;
    height: 1080px;

    background-image: url(../images/login-background.png);
}
.login-page {
    display: flex;
    justify-content: end;
}
.logo img {
    height: 85.87598419189453px;
    width: 150.86184692382812px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 24px 64px;
    text-align: right;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
